{% extends "base.html" %}
{% load i18n story_template_tags staticfiles mission_template_tags home_template_tags wagtailcore_tags wagtailadmin_tags wagtailimages_tags %}


{% block content %}
    {% image page.header_background_image width-800 as header_background_image %}
    {% image page.header_image width-400 as header_image %}
    {% image page.header_map_image width-400 as header_map_image %}
    <header
      class="w-full md:h-[972px] py-[100px] md:py-0 px-4 lg:pl-[82px] xl:pl-[100px] bg-[url('{{header_background_image.url}}')] bg-no-repeat bg-cover bg-center flex items-start justify-center flex-col relative after:absolute after:left-0 after:bg-[url({% static 'img/left-bar.svg' %})] md:after:w-[300px] lg:after:w-[410px] after:h-full after:z-10"
    >
      <div
        class="w-full pt-[80px] flex items-start md:items-center mb-[20px] md:mb-[60px] flex-col md:flex-row z-50"
      >
        <div 
          class="w-[300px] h-[300px] md:w-[380px] md:h-[380px] xl:w-[567px] xl:h-[441px] md:pr-0 md:mr-[30px] lg:mr-[60px]"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <img
            src="{{header_image.url}}"
            alt="Icon"
            class="h-full w-full object-cover rounded-2xl"
          />
        </div>
        <!-- w-full md:w-[350px] lg:w-[430px] xl:w-[592px] -->
        <div 
          class="w-[300px] h-[300px] md:w-[380px] md:h-[380px] xl:w-[567px] xl:h-[441px] md:pr-0 md:mr-[30px] lg:mr-[60px]"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <h1
            class="text-[36px] md:text-[48px] xl:text-[64px] text-white font-gt-super font-normal"
          >
            {{page.title}}
          </h1>
          <p
            class="text-[18px] lg:text-[32px] text-white font-twk-lausanne font-thin"
          >
            {{page.header_sub_text}}
          </p>
          <a href="{{ page.header_join_the_team_button_url }}" target="_blank">
          <button
            class="w-auto px-8 py-2.5 border-2 solid border-white text-lg text-[#754930] font-semibold font-twk-lausanne uppercase rounded-full bg-white mt-6 md:mt-8 transition duration-500 ease-in-out"
          >
            {{ page.join_the_team_button }}
          </button>
          </a>
        </div>
      </div>
      <div 
        class="flex items-start md:items-center flex-col md:flex-row z-50"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <!-- hidden md:block -->
        <div class="w-auto sm:w-[315px] h-[160px] rounded-2xl">
          <img
            src="{{header_map_image.url}}"
            alt="map icon"
            class="w-full h-full"
          />
        </div>

        <div class="w-full md:w-auto mt-4 sm:mt-0 lg:w-[589px] lg:ml-[40px]">
          <p 
            class="text-lg sm:text-2xl font-twk-lausanne font-thin text-white mb-1"
          >
            {{page.header_bottom_text}}
          </p>
        </div>
      </div>
    </header>

    <main class="w-full">
      <!-- Stories  Real people's - real lives -->

      <!-- GO Stories  -->
      {% stories_slides_header as story_slide_header %}
      {% get_current_language as LANGUAGE_CODE %}
      <section
        class="stories__wrapper overflow-hidden mt-7 lg:mt-[76px] ml-4 xl:ml-[100px]"
      >
        <div
          class="flex items-center justify-between mb-6 lg:mb-11 pr-4 lg:pr-[60px]"
        >
          <div>
            <h2
              class="text-[36px] lg:text-[64px] font-gt-super font-light text-black"
            >
            {% if LANGUAGE_CODE == 'en' %}{{ story_slide_header.slider_header_text }}{% else %}{{ story_slide_header.slider_header_text_es }}{% endif %}
          </h2>
            <p
              class="text-base lg:text-[36px] font-twk-lausanne font-extralight text-black"
            >
            {% if LANGUAGE_CODE == 'en' %}{{ story_slide_header.slider_subheader_text }}{% else %}{{ story_slide_header.slider_subheader_text_es }}{% endif %}
            </p>
          </div>
          <a href="{{ story_page.url }}">
            <button
              class="w-[110px] sm:w-[175px] h-[40px] sm:h-[56px] text-sm sm:text-lg font-twk-lausanne font-normal uppercase text-[#8A4D32] border-2 solid border-[#8A4D32] hover:bg-[#8A4D32] hover:text-white rounded-full transition duration-500 ease-in-out">
              {% if LANGUAGE_CODE == 'en' %}{{ story_slide_header.header_button_text }}{% else %}{{ story_slide_header.header_button_text_es }}{% endif %}
            </button>
          </a>
        </div>
        <!-- Stories,, Real people's - real lives -->
        <div 
          class="w-full h-[550px] md:h-[630px]"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="2000"
        >
        <div
        class="stories_swiper pl-0 relative swiper-scrollbar-home home_stories"  
        >
          <div class="swiper-wrapper greg__munids">
            {% get_specific_stories %}
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next" id="arrow-right"></div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      </section>

      <section
        class="flex items-center justify-center flex-col lg:px-[60px] 2xl:px-[97px] mx-auto mb-8 md:mb-[60px] lg:mb-[145px]"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        {% image page.giving_initiative_background_image width-400 as giving_initiative_image %}
        <div
          class="w-full h-auto sm:h-[500px] lg:h-[600px] bg-[url('{{giving_initiative_image.url}}')] bg-center bg-cover lg:rounded-2xl flex justify-center flex-col py-8 sm:py-0 pl-4 lg:pl-[120px] pr-4"
        >
          <h3
            class="text-[36px] xl:text-[64px] text-white font-normal font-gt-super mb-2 lg:mb-[20px]"
          >
            {{ page.giving_initiative_header_title }}
          </h3>
          <p class="text-white text-lg sm:text-xl lg:text-3xl font-thin font-twk-lausanne">
            {{page.giving_initiative_body}}
          </p>
          <a href="{{ give_page.url }}">
            <button
              class="text-base md:text-lg text-black font-twk-lausanne font-semibold w-auto sm:w-[268px] h-[56px] px-6 rounded-full bg-white mt-[30px] sm:mt-[122px] uppercase"
            >
              {{ page.start_your_gift_button }}
            </button>
          </a>
        </div>
      </section>

      <section
        class="flex flex-col md:flex-row justify-between px-4 lg:px-[60px] 2xl:px-[97px] mx-auto mb-[60px] lg:mb-[115px]"
      >
        <div
          class="bg-white border solid border-[rgba(127, 167, 182, 0.22)] rounded-2xl pl-[30px] lg:pl-[50px] h-[122px] flex flex-col items-start justify-center w-full lg:w-[400px] 2xl:w-[452px] sm:mr-6 xl:mr-0"
        >
          <span class="text-lg md:text-3xl font-thin font-twk-lausanne text-black">
            {{ page.director_header_title }}
          </span>
          <p class="text-lg md:text-3xl font-medium font-twk-lausanne text-black">
            {{page.director_name}}
          </p>
        </div>
        {% image page.director_image width-400 as director_image %}
        <div
          class="w-full h-[425px] sm:h-[687px] lg:w-[749px] rounded-2xl bg-[url('{{director_image.url}}')] bg-no-repeat bg-center bg-cover flex items-end justify-start bg-blue-300 mt-6 lg:mt-0"
          data-aos="fade-up"
          data-aos-duration="2000"
          data-aos-delay="100"
        >
          <div class="w-full h-full flex flex-col justify-end px-4 sm:pl-6 xl:pl-[74px] pb-[55px] rounded-2xl" style="background: linear-gradient(180.21deg, rgba(0, 0, 0, 0) 8.58%, rgba(0, 0, 0, 0.71) 99.82%);">
            <div>
              <p class="text-lg lg:text-3xl text-white font-extralight font-gt-super underline">
                {{ page.related_ministries_links_text }}
              </p>
              <p class="text-lg lg:text-3xl text-white font-extralight font-gt-super">
                {{ page.phone_number_text }}: {{page.director_phone_number}}
              </p>
            </div>
            <div
              class="flex items-center mt-[30px] lg:mt-[50px]"
              data-aos="fade-up" data-aos-duration="2000"
            >
            <a href="{{page.region_website_link}}" target="_blank">
              <a href="{{ page.region_website_link }}" target="_blank">
                <button
                  class="w-[230px] sm:w-[343px] h-[56px] bg-white text-[12px] font-semibold sm:text-base md:text-lg text-black sm:font-normal uppercase rounded-full mr-4 lg:mr-[42px] font-twk-lausanne"
                >
                  {{ page.view_button }} {{ page.title }} {{ page.regional_web_site_button }}
                </button>
              </a>
            </a>
              <a
                href="{{page.region_facebook_link}}"
                target="_blank"
                class="hover:scale-105 transition duration-500 ease-in-out"
              >
                <svg
                  class="w-[35px] h-[35px] sm:w-[56px] sm:h-[56px]"
                  viewBox="0 0 56 56"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect width="56" height="56" rx="6" fill="white" />
                  <path
                    d="M35.4992 13.0062L31.6089 13C27.2383 13 24.4138 15.8978 24.4138 20.383V23.7871H20.5023C20.1643 23.7871 19.8906 24.0611 19.8906 24.3991V29.3313C19.8906 29.6693 20.1646 29.943 20.5023 29.943H24.4138V42.3883C24.4138 42.7263 24.6876 43 25.0256 43H30.129C30.467 43 30.7407 42.726 30.7407 42.3883V29.943H35.3141C35.6521 29.943 35.9259 29.6693 35.9259 29.3313L35.9277 24.3991C35.9277 24.2369 35.8631 24.0814 35.7486 23.9666C35.634 23.8517 35.478 23.7871 35.3157 23.7871H30.7407V20.9014C30.7407 19.5145 31.0712 18.8104 32.8779 18.8104L35.4986 18.8094C35.8363 18.8094 36.11 18.5354 36.11 18.1977V13.618C36.11 13.2806 35.8366 13.0069 35.4992 13.0062Z"
                    fill="black"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section
        class="flex items-center justify-center flex-col px-4 lg:px-[30px] xl:px-[123px] mx-auto mb-5 md:mb-[60px] lg:mb-[145px] nums"
      >
        <div class="text-center" data-aos="fade-up"
        data-aos-duration="2000">
          <h2
            class="text-[32px] md:text-[48px] xl:text-[64px] font-normal text-black font-gt-super"
          >
            {{ page.population_section_title }}
          </h2>
          <p class="text-xl sm:text-2xl xl:text-4xl text-black font-extralight font-twk-lausanne num">
            {{page.population_number}}
          </p>
        </div>
        <div
          class="w-full grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-[30px] xl:gap-[40px] mt-[30px] xl:mt-[50px]"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <div
            class="flex items-center justify-center flex-col lg:px-[16px] xl:px-[50px] py-[30px] xl:py-[40px] border-2 solid border-[solid rgba(127, 167, 182, 0.22)] rounded-2xl text-center"
          >
            <div class="w-[110px] h-[110px]">
              <img src="{% static 'img/praying.svg' %}" alt="Icon" />
            </div>
            <div class="mt-2">
              <div class="flex items-center">
                <span class="text-lg md:text-2xl text-black font-normal num font-twk-lausanne">
                  {{ page.spiritualy_lost }}
                </span>
              </div>
                <span class="text-lg md:text-2xl text-black font-thin font-twk-lausanne"
                  >{{ page.spiritually_lost_card_text }}</span
                >
            </div>
          </div>

          <div
            class="flex items-center justify-center flex-col lg:px-[16px] xl:px-[50px] py-[30px] xl:py-[40px] border-2 solid border-[solid rgba(127, 167, 182, 0.22)] rounded-2xl text-center"
          >
            <div class="w-[110px] h-[110px]">
              <img src="{% static 'img/baptism.svg' %}" alt="Icon" />
            </div>
            <div class="mt-2">
              <p class="text-lg md:text-2xl text-black font-normal num font-twk-lausanne">
                {{ page.unreached_people_groups }}
              </p>
              <span class="text-lg md:text-2xl text-black font-thin font-twk-lausanne"
                >{{ page.unreached_people_groups_card_text }}</span
              >
            </div>
          </div>

          <div
            class="flex items-center justify-center flex-col lg:px-[16px] xl:px-[50px] py-[30px] xl:py-[40px] border-2 solid border-[solid rgba(127, 167, 182, 0.22)] rounded-2xl text-center"
          >
            <div class="w-[110px] h-[110px]">
              <img src="{% static 'img/holy-ghost.svg' %}" alt="Icon" />
            </div>
            <div class="mt-2">
              <p class="text-lg md:text-2xl text-black font-normal num font-twk-lausanne">
                {{ page.ag_constituents }}
              </p>
              <span class="text-lg md:text-2xl text-black font-thin font-twk-lausanne"
                >{{ page.ag_constituents_card_text }}</span
              >
            </div>
          </div>

          <div
            class="flex items-center justify-center flex-col lg:px-[16px] xl:px-[50px] py-[30px] xl:py-[40px] border-2 solid border-[solid rgba(127, 167, 182, 0.22)] rounded-2xl text-center"
          >
            <div class="w-[110px] h-[110px]">
              <img src="{% static 'img/church.svg' %}" alt="Icon" />
            </div>
            <div class="mt-2">
              <p class="text-lg md:text-2xl text-black font-normal num font-twk-lausanne">{{ page.ag_churches }}</p>
              <span class="text-lg md:text-2xl text-black font-thin font-twk-lausanne"
                >{{ page.ag_churches_card_text }}</span
              >
            </div>
          </div>

          <div
            class="flex items-center justify-center flex-col lg:px-[16px] xl:px-[50px] py-[30px] xl:py-[40px] border-2 solid border-[solid rgba(127, 167, 182, 0.22)] rounded-2xl text-center"
          >
            <div class="w-[110px] h-[110px]">
              <img src="{% static 'img/pulpit.svg' %}" alt="Icon" />
            </div>
            <div class="mt-2">
              <p class="text-lg md:text-2xl text-black font-normal num font-twk-lausanne">{{ page.ag_ministers }}</p>
              <span class="text-lg md:text-2xl text-black font-thin font-twk-lausanne"
                >{{ page.ag_ministers_card_text }}</span
              >
            </div>
          </div>

          <div
            class="flex items-center justify-center flex-col lg:px-[16px] xl:px-[50px] py-[30px] xl:py-[40px] border-2 solid border-[solid rgba(127, 167, 182, 0.22)] rounded-2xl text-center"
          >
            <div class="w-[110px] h-[110px]">
              <img src="{% static 'img/christianity.svg' %}" alt="Icon" />
            </div>
            <div class="mt-2">
              <p class="text-lg md:text-2xl text-black font-normal num font-twk-lausanne">{{ page.missionaries_and_associates }}</p>
              <span class="text-lg md:text-2xl text-black font-thin font-twk-lausanne"
                >{{ page.missionaries_and_associates_card_text }}</span
              >
            </div>
          </div>
        </div>
      </section>

      {% get_missions %}
    </main>
    {% endblock %}
    {% block javascript %}
    <!-- //  JS CODE -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript">
      AOS.init();

      let storiesSwiper = new Swiper(".stories_swiper", {
        scrollbar: {
          el: ".swiper-scrollbar",
          draggable: true,
        },
        draggable: true,
        allowTouchMove: true,
        loop: true,
        //centeredSlides: true,
        //direction: 'horizontal',
        initialSlide: 0,
  
        direction: "horizontal",
        //centeredSlides: false,
        speed: 800,
        //slidesPerView: "auto",
        threshold: 5,
  
  
        //freeMode: true,
        //watchSlidesProgress: true,
        breakpoints: {
          100: {
            slidesPerView: 1.2,
            spaceBetween: 16,
          },
  
          450: {
            slidesPerView: 1.4,
            spaceBetween: 20,
          },
          692: {
            slidesPerView: 'auto',
            spaceBetween: 30,
          }
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
  
      });

      let RegionsSwiper = new Swiper(".region_explore", {
        scrollbar: {
          el: ".swiper-scrollbar",
          draggable: true,
  
          // hide: true,
        },
        // slidesPerView: 3,
        initialSlide: 0,
  
        allowTouchMove: true,
        draggable: true,
        direction: "horizontal",
        speed: 800,
        threshold: 5,
        loop: true,
  
        breakpoints: {
          // when window width is >= 320px
          300: {
            slidesPerView: 1.1,
            spaceBetween: 10,
          },
          // when window width is >= 480px
  
          // when window width is >= 640px
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          992: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
          1192: {
            slidesPerView: 3,
            spaceBetween: 20,
          },
          1490: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
  
        on: {
          init: function () {
  
            //const regionsCover = document.querySelectorAll(".regions__cover");
            //regionsCover.forEach((c) => c.classList.add("toggle__cover"));
  
  
  
            const readStories = document.querySelectorAll(".explore__continent");
            readStories.forEach((c) => c.classList.add("toglle_continent"));
  
            readStories.forEach((itemSlide, index) => {
              if (index === this.activeIndex) {
                itemSlide.classList.add("toglle_continent");
                //regionsCover.forEach((c) => c.classList.add("toggle__cover"));
  
              } else {
                itemSlide.classList.remove("toglle_continent");
                //regionsCover.forEach((c) => c.classList.remove("toggle__cover"));
  
              }
            });
  
            //toggle banners
            const exploreHeaders = document.querySelectorAll(".explore_banners");
            exploreHeaders.forEach((h) => h.classList.add("show_explore_banners"));
  
            exploreHeaders.forEach((itemSlide, index) => {
              if (index === this.activeIndex) {
                itemSlide.classList.add("show_explore_banners")
              } else {
                itemSlide.classList.remove("show_explore_banners")
              }
            })
          },
        },
      });
  
      RegionsSwiper.on("slideChange", function () {
        //const regionsCover = document.querySelectorAll(".regions__cover");
        //regionsCover.forEach((c) => c.classList.add("toggle__cover"));
        const readStories = document.querySelectorAll(".explore__continent");
  
  
  
        readStories.forEach((c) => c.classList.add("toglle_continent"));
        readStories.forEach((itemSlide, index) => {
          if (index === this.activeIndex) {
            itemSlide.classList.add("toglle_continent");
            //regionsCover.forEach((c) => c.classList.add("toggle__cover"));
  
          } else {
            itemSlide.classList.remove("toglle_continent");
            //regionsCover.forEach((c) => c.classList.remove("toggle__cover"));
  
          }
        });
      });
  
      RegionsSwiper.on("slideChange", function () {
        const exploreHeaders = document.querySelectorAll(".explore_banners");
        exploreHeaders.forEach((c) => c.classList.add("show_explore_banners"));
        exploreHeaders.forEach((itemSlide, index) => {
          if (index === this.activeIndex) {
            itemSlide.classList.add("show_explore_banners");
            //regionsCover.forEach((c) => c.classList.add("toggle__cover"));
  
          } else {
            itemSlide.classList.remove("show_explore_banners");
          }
        });
      });
    </script>
    {% endblock %}