{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ page.search_description }}">
  <link rel="stylesheet" href={% static 'css/style.css' %} >
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- TailwindCss -->
<script src="https://cdn.tailwindcss.com"></script>

<script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: "#da373d",
          },
          backgroundImage: {
            "burger-menu": "url('./assets/img/berger-menu.svg')",
          },
          fontFamily: {
            "gt-super": ["gt-super"],
            "twk-lausanne": ["twk-lausanne"],
          },
        },
      },
    };
  </script>

<title> Change Password</title>

<body>
    <!-- Navbar -->
    <main class="bg-[url({% static 'img/set__new__pass__bg.png' %})] w-full w-full h-screen bg-cover bg-no-repeat pt-[50px] lg:pt-[100px] xl:pt-[150px]">

        <div
        class="w-full lg:w-[505px] px-6 lg:px-0 mx-auto flex justify-center items-center flex-col login__screen">

                <h2 class="text-[24px] font-gt-super text-white font-normal"">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Create a New Password" %}{% endif %}</h2>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="p_color" style="margin: 30px;">{% blocktrans %}The password reset link was invalid, possibly
                        because it has already been used. Please request a <a href="/recover_password">new password
                            reset</a>.{% endblocktrans %}</p>
                    <br />
                {% else %}
                    
                {% if form %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="welcome_page_box_2">
                        <form method="POST" action="{{ action_url }}" class="w-full flex flex-col mt-6 lg:mt-8">
                            {% csrf_token %}
                            <div class="mt-4 lg:mt-[40px]">
                                <input class="form-control input_class w-full h-full border-b solid border-white text-lg text-white text-sm pb-[25px] font-normal font-twk-lausanne border-b solid border-white bg-transparent placeholder-white outline-none block placeholder:font-light" type="password" name="password1" required=""
                                    id="id_password1" placeholder="Enter New Password">
                            </div>
                            <div class="mt-[40px]">
                                <div class="w-full relative">
                                    <input class="form-control input_class w-full h-full border-b solid border-white text-lg text-white text-sm pb-[25px] font-normal font-twk-lausanne border-b solid border-white bg-transparent placeholder-white outline-none block placeholder:font-light" type="password" name="password2" required=""
                                        id="id_password2" placeholder="Confirm New Password">
                                </div>
                            <button class="bg-white hover:scale-105 transition duration-500 ease-in-out flex items-center justify-center w-full lg:w-[473px] h-[56px] text-lg text-[#121A15] font-semibold font-twk-lausanne uppercase rounded-full mt-[52px]" type="submit" name="action"
                                value="{% trans 'RESET PASSWORD' %}">
                                Save
                            </button>
                            <button
                                class="bg-transparent flex items-center justify-center w-full lg:w-[473px] h-[56px]  text-lg text-white font-semibold font-twk-lausanne uppercase rounded-full mt-[38px] border-2 solid border-white hover:bg-[#8B3C3A] hover:border-none transition duration-500 ease-in-out">
                                Cancel
                            </button>
                        </form>
                    </div>
                </main>
                <!-- Footer -->
								<footer class="pt-6 sm:pt-16 border-t solid border-[#f0f0f0]">
									<div class="grid sm:grid-cols-2 md:grid-cols-3 px-4 lg:px-[75px] mb-4 md:pb-9">
										<div class="col-span-1 flex flex-col sm:border-r solid border-[#f0f0f0] mb-4 md:mb-0">
											<div class="mb-4 sm:mb-7">
												<img src="{% static 'img/colored-logo.svg' %}" alt="App-Logo" class="h-[30px] sm:h-auto" />
											</div>

											<p class="text-[#3D3D3D] font-normal text-sm">
												1445 N. Boonville Avenue Springfield, MO 65802-1894 <br />
												Phone: 1-417-862-3420
											</p>
											<button
												class="w-[150px] sm:w-[205px] h-[40px] sm:h-[56px] text-center rounded-full text-xs sm:text-lg text-[#8B3C3A] border-2 solid border-[#8B3C3A] font-semibold uppercase font-twk-lausanne hover:bg-[#8B3C3A] hover:text-white transition duration-500 ease-in-out my-3 sm:my-6"
                                            >
                                                {% comment %} Temporary set redirect to homepage {% endcomment %}
                                                <a href="{{ home_page.url }}">
                                                Are you called?
                                                </a>
											</button>
											<p class="text-[10px] text-[#3D3D3D] font-normal font-twk-lausanne">
												© 2021 ASSEMBLIES OF GOD WORLD MISSIONS
											</p>
										</div>
										<div class="md:col-span-1 flex sm:justify-center md:border-r solid border-[#f0f0f0] my-1 md:my-0">
											<ul>
												<li class="text-[#3D3D3D] text-sm font-semibold font-twk-lausanne mb-2">
													<a href="{{home_page.url}}" class="hover:border-b border-[#3D3D3D]"><b>Home</b></a>
												</li>
												<li class="text-[#3D3D3D] text-sm font-light font-twk-lausanne mb-2">
													<a href="{{prayer_page.url}}" class="hover:border-b border-[#3D3D3D]">Pray</a>
												</li>
												<li class="text-[#3D3D3D] text-sm font-light font-twk-lausanne mb-2">
													<a href="{{give_page.url}}" class="hover:border-b border-[#3D3D3D]">Give</a>
												</li>
												<li class="text-[#3D3D3D] text-sm font-light font-twk-lausanne mb-2">
													<a href="{{go_page.url}}" class="hover:border-b border-[#3D3D3D]">Go</a>
												</li>
												<li class="text-[#3D3D3D] text-sm font-light font-twk-lausanne mb-2">
													<a href="{{ about_page.url }}" class="hover:border-b border-[#3D3D3D]">About Us</a>
												</li>
												<li class="text-[#3D3D3D] text-sm font-light font-twk-lausanne mb-2">
													<a href="{{ greg_mundis_initiative_page.url }}" class="hover:border-b border-[#3D3D3D]">Executive Office</a>
												</li>
												<li class="text-[#3D3D3D] text-sm font-light font-twk-lausanne mb-2">
													<a href="{{ privacy_permission_page.url }}" class="hover:border-b border-[#3D3D3D]">Privacy & Permissions</a>
												</li>
											</ul>
										</div>

										<div class="flex flex-col w-full md:w-auto md:col-span-1 mx-auto my-2 sm:my-0">
											<h6 class="text-sm font-normal text-[#3D3D3D] mb-3">Connect</h6>
											<div class="flex items-center">
												<div
													class="bg-[#8B3C3A] rounded-md w-8 h-8 mr-4 flex justify-center items-center hover:scale-105 transition duration-500 ease-in-out cursor-pointer">
													<img src="{% static 'img/facebook.svg' %}" alt="facebook" />
												</div>
												<div
													class="flex items-center justify-center w-8 h-8 mr-4 rounded-md hover:scale-105 transition duration-500 ease-in-out cursor-pointer">
													<img src="{% static 'img/viemo.svg' %}" alt="viemo" />
												</div>
												<div
													class="flex items-center justify-center w-8 h-8 mr-4 rounded-md hover:scale-105 transition duration-500 ease-in-out cursor-pointer">
													<img src="{% static 'img/youtube.svg' %}" alt="Youtube" />
												</div>
												<div
													class="flex items-center justify-center w-8 h-8 rounded-md hover:scale-105 transition duration-500 ease-in-out cursor-pointer">
													<img src="{% static 'img/insta.svg' %}" alt="Instagram" />
												</div>
											</div>
											<button
												class="w-[150px] sm:w-[205px] h-[40px] sm:h-[56px] text-center rounded-full text-sm sm:text-lg text-[#8B3C3A] border-2 solid border-[#8B3C3A] font-semibold uppercase hover:bg-[#8B3C3A] hover:text-white transition duration-500 ease-in-out mt-4 sm:my-6">
												Get in Touch
											</button>
										</div>
									</div>
									<div class="w-full">
										<img src="{% static 'img/footer-logos.svg' %}" alt="Logos" class="w-full" />
									</div>
								</footer>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>